body {
  /*added a background image to the body*/
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  /*added font family to body to keep font consistent*/
  font-family: sans-serif;
}
/*gave seperate font sizes to h1 and h2*/
h1 {
  font-size: 40px;
  }
h2 {
  font-size: 30px;
  }
/*added a class selector and gave it a font*/
.established {
  font-style: italic;
}

.menu {
  /*takes up 80% of the screen width*/
    width: 80%;
    /*gave the background color in menu*/
    /*centered the menu*/
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    /*gave a bit of padding on each side.
    padding-left: 20px;
    padding-right: 20px;
    /*added top and bottom padding
    Padding-top: 20px;
    padding-bottom: 20px; long way to write padding*/
    padding: 20px;
    max-width: 500px;
    }

    h1, h2, p {
    /*centered the text*/
    text-align: center;
    }
    /*changed font h1 and h2*/
    h1, h2 {
      /*added backup font for h1 and h2*/
    font-family: Impact, Charcoal, serif;
    }
  
  .item p{ /*displays inline-block for p class*/
      display: inline-block;
      /*max size so menu wont get to big on big screen*/
      max-width: 500px;
      
  }

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}